{% extends "admin/base_site.html" %}

{% load bootstrap3 %}

{% block extrastyle %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'userAuth/style.css' %}" />
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
{% endblock %}

{% block content %}
<h1>Registration:</h1>
<form action="." method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="Send" class="btn btn-primary">
      {% bootstrap_icon "star" %} Create account
    </button>
  {% endbuttons %}
</form>
{% endblock %}
