{% extends "blog/base_site.html" %}
{% load i18n admin_static %}
{% load bootstrap3 %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />
{% bootstrap_css %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% bootstrap_javascript %}
{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <p>You're already logged.</p>
{% else %}
<div id="content-main">
<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  {% bootstrap_form form %}
  <div class="form-row">
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="next" value="{{ next }}" />
  </div>

  <div class="password-reset-link">
    <a href="{% url 'password_reset' %}">{% trans 'Forgotten your password or username?' %}</a>
  </div>
  <div class="password-reset-link">
    <a href="{% url 'account:register' %}">{% trans 'Create account' %}</a>
  </div>

  <button type="submit" class="btn btn-primary">
    {% bootstrap_icon "star" %} {% trans 'Log in' %}
  </button>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{%  endif %}
{% endblock %}
