{% extends "account/base.html" %}
{% load i18n bootstrap3 %}

{% block title %}{{ block.super }} {% trans "Log in" %}{% endblock %}

{% block currentpage %}
&rsaquo; {% trans 'Log in' %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% trans "You're already logged." %}
{% else %}
<div id="content-main">
    <form action="{{ app_path }}" method="post" id="login-form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="hidden" name="this_is_the_login_form" value="1" />
        <input type="hidden" name="next" value="{{ next }}" />

        <div class="password-reset-link">
            <a href="{% url 'account:password_reset' %}">{% trans 'Forgotten your password or username?' %}</a>
        </div>
        <div class="create-account-link">
            <a href="{% url 'account:register' %}">{% trans 'Create account' %}</a>
        </div>

        <button type="submit" class="btn btn-primary">{% trans 'Log in' %}</button>

        <script type="text/javascript">
            document.getElementById('id_username').focus()
        </script>
    </form>
</div>
{% endif %}
{% endblock %}
