{% extends "blog/base_site.html" %}
{% load i18n static %}
{% load bootstrap3 %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'account/style.css' %}" />
{% bootstrap_css %}
{% bootstrap_javascript %}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'app:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}

<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form action="" method="post" class="form">{% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">
    {% bootstrap_icon "star" %} {% trans 'Reset my password' %}
</button>
</form>

{% endblock %}
