{% extends "blog/base_site.html" %}
{% load i18n static %}
{% load bootstrap3 %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static 'account/style.css' %}" />
{% bootstrap_css %}
{% bootstrap_javascript %}
{% endblock %}

{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="{% url 'account:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'app:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password change' %}
</div>
{% endblock %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}<div id="content-main">
<h1>{% trans 'Password change' %}</h1>
<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post"  class="form">{% csrf_token %}
{% bootstrap_form form %}

<button type="submit" class="btn btn-primary">
    {% bootstrap_icon "star" %} {% trans 'Change my password' %}
</button>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</form></div>

{% endblock %}
