{% extends "account/base.html" %}
{% load i18n bootstrap3 %}

{% block title %}{{ block.super }} {% trans "Registration" %}{% endblock %}

{% block currentpage %}
&rsaquo; {% trans "Registration" %}
{% endblock %}

{% block content %}
<div id="content-main">
    {% if user.is_authenticated %}
    You're already logged.
    {% else %}
    <form action="{% url 'account:register' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <p class="login-link">
            <a href="{% url 'account:login' %}">{% trans 'Already have an account?' %}</a>
        </p>
        <button type="submit" class="btn btn-primary">Create account</button>
    </form>
    {% endif %}
</div>
{% endblock %}
