{% extends "account/base.html" %}
{% load i18n bootstrap3 %}

{% block title %}{{ block.super }} {% trans "Registration" %}{% endblock %}

{% block currentpage %}
&rsaquo; {% trans "Registration" %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>You're already logged.</p>
{% else %}
<form action="{% url 'account:register' %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Create account</button>
</form>
{% endif %}
{% endblock %}
