{% extends "blog/base_site.html" %}

{% load bootstrap3 %}

{% block extrastyle %}
{% load staticfiles %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% endblock %}

{% block content %}
    <h1>Registration</h1>
    {% if user.is_authenticated %}
        <p>You're already logged.</p>
    {% else %}
    <form action="{% url 'account:register' %}" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="Send" class="btn btn-primary">
          {% bootstrap_icon "star" %} Create account
        </button>
      {% endbuttons %}
    </form>
    {% endif %}
{% endblock %}
