{% extends "blog/base_site.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}" />
{% endblock %}

{% block content %}
<div class="wrapper">
    {% if articles %}
    <ul class="main">
        {% for article in articles %}
        <li class="post">
            <h2 class="title">
                <a title="{{ article.headline }}"
                    href="{% url 'app:article_detail' year=article.pub_date|date:"Y" month=article.pub_date|date:"m" day=article.pub_date|date:"d" slug=article.slug %}">
                    {{ article.headline }}
                </a>
            </h2>
            <div class="post-header">
                <span class="caption">Posted: </span>
                <span class="publish-date">{{ article.pub_date|date:"l, F d, Y" }}</span>
            </div>
            <div class="post-body">
                {{ article.content|safe }}
            </div>
            <div class="post-footer">
                <span class="byline-author">Posted by {{ article.reporter.username }}</span>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% bootstrap_pagination page_obj url="?page=1"  size="small" %}
    {% else %}
    <p>No articles available.</p>
    {% endif %}
</div>
{% endblock %}

