<li class="post">
    <h2 class="title">
        <a title="{{ article.headline }}"
            href="{% url 'app:article_detail' year=article.pub_date|date:"Y" month=article.pub_date|date:"m" day=article.pub_date|date:"d" slug=article.slug %}">
            {{ article.headline }}
        </a>
    </h2>
    <div class="post-header">
        <span class="caption">Posted: </span>
        <span class="publish-date">{{ article.pub_date|date:"l, F d, Y" }}</span>
    </div>
    <div class="post-body">
        {{ article.content|safe }}
    </div>
    <div class="post-footer">
        <span class="byline-author">Posted by {{ article.reporter.username }}</span>
        {% if article.labels.all %}
        <br class="clear">
        <span class="labels-caption">Labels:</span>
        {% for label in article.labels.all %}
            <a title="{{ label.name }}" href="{% url 'app:article_label' name=label.name %}">{{ label.name }}</a>
        {% endfor %}
        {% endif %}
    </div>
</li>