{% load static i18n bootstrap3 %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    <title>
        {% block title %}
        Cryptic`s blog{% if title %}: {{ title }}{% endif %}
        {% endblock %}
    </title>

    {% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/html5-reset.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}" />
    {% bootstrap_css %}
    {% endblock %}

    {% block script %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}

    {% block extrahead %}{% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>

<body class="{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container">

    <!-- Header -->
    <div id="header">
        <div id="branding">
            {% block branding %}
            <h1 id="site-name">Cryptic`s Blog</h1>
            {% endblock %}
        </div>
        {% if user.is_active  %}
        <div id="user-tools">
            {% trans 'Welcome,' %}
            <strong>{% firstof user.get_short_name user.get_username %}</strong>
        </div>
        {% endif %}
    </div>
    <!-- END Header -->

    <div class="breadcrumbs">
        {% block homelink %}
        <a href="{% url 'app:article_list' %}">{% trans 'Home' %}</a>
        {% endblock %}

        {% block currentpage %}
        {% if title %}&rsaquo; {{ title }}{% endif %}
        {% endblock %}

        {% block userlinks %}
        {% if user.has_usable_password %}
        <div class="float-right">
            {% if user.has_usable_password %}
            <a href="{% url 'account:password_change' %}">{% trans 'Change password' %}</a> /
            {% endif %}
            <a href="{% url 'account:logout' %}">{% trans 'Log out' %}</a>
        </div>
        {% endif %}
        {% endblock %}
    </div>

    <!-- Content -->
    <div id="content">
        {% block content %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
