{% load staticfiles %}{% load bootstrap3 %}{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    <title>{% block title %}Cryptic`s blog{% endblock %}</title>

    {% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/html5-reset.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}" />
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
    {% bootstrap_css %}
    {% endblock %}

    {% block script %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}

    {% block extrahead %}{% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="branding">
            {% block branding %}
            <h1 id="site-name">Cryptic`s Blog</h1>
            {% endblock %}
        </div>
        {% if user.is_active  %}
        <div id="user-tools">
            {% trans 'Welcome,' %}
            <strong>{% firstof user.get_short_name user.get_username %}</strong>.

            {% block userlinks %}
            {% if user.has_usable_password %}
            <a href="{% url 'account:password_change' %}">{% trans 'Change password' %}</a> /
            {% endif %}
            <a href="{% url 'account:logout' %}">{% trans 'Log out' %}</a>
            {% endblock %}
        </div>
        {% endif %}
    </div>
    <!-- END Header -->
    {% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'app:article_list' %}">{% trans 'Home' %}</a>
        {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    {% endif %}

    <!-- Content -->
    <div id="content">
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
