{% extends "blog/base_site.html" %}

{% load bootstrap3 %}

{% block extrastyle %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% endblock %}

{% block content %}
    <h1>Welcome to my blog!</h1>
    {% if articles %}
    <ul>
    {% for article in articles %}
            <li><h3>{{ article.headline }}</h3>
            <p>{{ article.content }}</p>
            <p>(created: {{ article.pub_date|date:"Y-m-d" }}) by {{ article.reporter.username }}</p>
            </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No articles available.</p>
{% endif %}

{% bootstrap_pagination page_obj url="?page=1"  size="small" %}

{% endblock %}

